body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFA500;
    padding: 20px;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
    margin-right: 20px; /* Adicionando margem à direita para a logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.menu-item {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #FFA500;
    padding: 10px;
    color: #FFF;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#map {
    height: 400px;
    width: 100%;
}

.imagem {
    height: 500px;
    width: 500px;
    border-radius: ;
}